
<h1> All Tests </h1>
<ul>
	<% for test in @tests %>
		<li><a href="/tests/<%= test.id %>"><%= test.name %></a>    <%= test.result %></li>
	<% end %>
</ul>
<br></br>
<a href="/tests/create">Create New Test</a>
